Package: com.g0ldsn0w.Unc0ver&Android-BootLogo
Name: Unc0ver&Android-BootLogo
Depends: mobilesubstrate, firmware(>=11)
Version: 1.0
Architecture: iphoneos-arm
Description: A simple handmade bootlogo
Maintainer: G0ldSn0w <g0ldsn0w@protonmail.com>
Author: G0ldSn0w <g0ldsn0w@protonmail.com>
dev: G0ldSn0w
Section: BootLogos
Depiction: A cydia depiction
SileoDepiction: A Sileo Depiction
Installed-Size: 1531979

